{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            <p>A highly motivated and enthusiastic student seeking a challenging internship in the field of mathematics and computer science to further develop my technical and professional skills.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Felix Kuria</h4>
                <p><em>Currently pursuing Bachelor of Science in Mathematics and Computer Science, Multimedia University, 2023.</em></p>
                <ul>
                  <li>Ongata Rongai</li>
                  <li>+254 710 702 286</li>
                  <li>felixkuria12@gmail.com</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor Mathematics  &amp; Computer Science</h4>
                <h5>2019 - 2023</h5>
                <p><em>Relevant Coursework: Algorithms, Data Structures, Discrete Mathematics, Calculus, Linear Algebra, Database Systems, Computer Networks, Operating Systems.</em></p>
                <p></p>
              </div>
              <div class="resume-item">
                <h4>Google Data Analyst Professional</h4>
                <h5>2022</h5>
                <p><em>Coursera</em></p>
                <p>Strong statistical analysis and data mining skills
                  Proficient in programming languages such as Python and R
                  Experience with data visualization tools such as Tableau and Power BI</p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Backend Developer</h4>
                <h5>2022 - Present</h5>
                <!-- <p><em>Experion, New York, NY </em></p> -->
                <ul>
                  <li>Developed a web application that utilized machine learning algorithms to predict stock prices, using Python</li>
                  <li>Designed and implemented a database system for a local library, using SQL.</li>
                  <li>Developed a recommendation system for a movie rental store using machine learning algorithms, in Python.</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Data Analyst</h4>
                <!-- <h5>2017 - 2018</h5> -->
                <!-- <p><em>Stepping Stone Advertising, New York, NY</em></p> -->
                <ul>
                  <p>Predicted customer churn for a telecommunications company using machine learning algorithms in Python.
                    Analyzed real estate prices in different neighborhoods and built a regression model to predict future prices.
                    Created an interactive dashboard to visualize the relationship between unemployment rates and crime rates in different states.</p>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->

{% endblock %}
